:root {
  --primary-color: #172b4d;
  --secondary-color: #3a4a42;
  --highlight-color: #36b37f;
}
* {
  box-sizing: border-box;
}
a {
  text-decoration: none;
}
body {
  margin: 0;
  padding: 0;
  color: var(--primary-color);
}

.navbar-container {
  display: flex;
  justify-content: end;
}
.mobile-menu {
  border: 0;
  outline: 0;
  padding: 8px;
  cursor: pointer;
  background: transparent;
}
.mobile-menu img {
  height: 24px;
  width: 24px;
}
